<md-dialog aria-label="EDIT FESTIVAL DATE" flex="50">
    <div class="card ctx-hidden popular-filter col-xs-24 col-sm-24 col-md-16 col-lg-16 col-xl-16" id="CountryFilterControl">
        <div class="card-header">
            <span class="h5">
                Select your countries
            </span>
            <a href="#" ng-click="$event.preventDefault();Close(this)"><i class="fa fa-remove"></i></a>
        </div>
        <div class="card-block" ng-if="IsLoading==true">
            <ng-include src="'/Scripts/Shared/Views/loader.html'"></ng-include>
        </div>
        <div class="card-block" ng-if="IsLoading==false">
            <div class="col-xs-24 h5">Most popular countries</div>
            <ul>
                <li ng-repeat="Country in SysCountries" class="col-xs-24 col-sm-12 col-md-12 col-lg-4 col-xl-4" ng-if="Country.IsPopular==true">
                    <a href="#" ng-click="$event.preventDefault();ToggleCountry(this, Country)">
                        <i ng-class="{'fa fa-square-o': IsActive(Country) == false, 'fa fa-check-square-o':IsActive(Country)==true}"></i><span>{{Country.Name}}</span>
                    </a>
                </li>
            </ul>
            <div class="col-xs-24 h5">Other countries</div>
            <ul>
                <li ng-repeat="Country in SysCountries" class="col-xs-24 col-sm-12 col-md-12 col-lg-4 col-xl-4" ng-if="Country.IsPopular==false">
                    <a href="#" ng-click="$event.preventDefault();ToggleCountry(this, Country)">
                        <i ng-class="{'fa fa-square-o': IsActive(Country) == false, 'fa fa-check-square-o':IsActive(Country) == true}"></i><span>{{Country.Name}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <div class="pull-right">
                <a href="#" class="btn-sm btn-info" ng-click="$event.preventDefault();Reset(this)"><i class="fa fa-refresh"></i> Reset</a>
                <a href="#" class="btn-sm btn-danger" ng-click="$event.preventDefault();Close(this)"><i class="fa fa-remove"></i> Cancel</a>
                <a href="#" class="btn-sm btn-success" ng-click="$event.preventDefault();Save(this)"><i class="fa fa-save"></i> Save</a>
            </div>
        </div>
    </div>
</md-dialog>