@import "../core/var.scss";
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    background-position: 50% 50%;
}

.news-detail {
    .col-xl-16 {
        .news-header-image {
            min-height:272px;
            max-height:272px;
            overflow:hidden;
            img {
                min-width: 100%;
                margin-top: 0 !important;
                max-height: 272px !important;
                min-height:272px;
            }   
        }
    }
    .col-lg-14 {
        .news-header-image {
            min-height:220px;
            max-height:220px;
            overflow:hidden;
            img {
                min-width: 100%;
                margin-top: 0 !important;
                min-height:220px;
                max-height: 272px !important;
            }   
        }
    }
    .col-md-14 {
        .news-header-image {
            min-height:180px;
            max-height:220px;
            overflow:hidden;
            img {
                min-width: 100%;
                margin-top: 0 !important;
                min-height:180px;
                max-height: 272px !important;
            }   
        }
    }
    
    //col-sm-24 col-md-14 col-lg-14 col-xl-16
    
    .news-text-wrapper {
        float:left;
        clear:both;
        padding: 15px;
        * {
            font-size:12px;
            margin: 0 !important;
            padding: 0 !important;
            color: #333 !important;
        }
        a {
            color: $LinkColorDefault !important;
            font-weight:bold;
            text-decoration:none;
        }
        .shorttxt {
            width: 100%;
            padding-bottom: 20px !important;
            p {

            strong {

                color: #333;
            }
            }
        }
    }
    .keywords {
        position:relative;
        left: 15px;
        i {
            float:left;
            font-size: 16px;
            margin-top: 3px;
        }
        ul {
            float:left;
            list-style: none;
            margin: 0;
            padding:0;
            li {
                font-family:Arial;
                font-size: 10px;
                margin-left: 5px;
                padding: 2px;
                padding-right: 5px;
                padding-left:5px;
                background-color: $BGInput;
                border: 1px solid $BGInputBorder;
                color: #333;
                float:left;
            }
        }
    }
    .date-time {
        float:left;
        clear: both;
        display:block;
        i {
            font-size: 20px;
            color: #FFF;
        }
        span {
            font-family: 'Oswald';
            font-size: 20px;
            color:#FFF;
            position:relative;
        }
        background-color:$BGDark;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15px;
    }
    .share-social-controls {
        float:left;
        width: 100%;
        padding: 15px;
        label {
            color: #333 !important;
            font-family: 'Oswald';
            font-size: 18px;
        }
        a {
            &:hover{
                color: $LinkColorDefault !important;
                i {
                    color: $LinkColorDefault !important;
                }
            }
            i {
                color: #333;
                font-size: 25px;
            }
            color: #333 !important;
            font-family: 'Oswald';
            font-size: 18px;
        }
    }
}
//responsive news header images...i guess...
.news-overview-wrapper {

    .middle {
        &.col-sm-24, &.col-xs-24 {
            float:right;
        }
    }

    .card {
        .card-header {
            a {
                color: #FFF !important;
                &:hover {
                    color: #FFF !important;
                }
            }
        }
    }
    .col-xl-8 {
        .card { 
           
            .card-block {
                .top {
                    overflow:hidden;
                    img {
                        min-width:100%;
                        margin-top: 0 !important;
                    }   
                }
            }
        }
    } 
    .col-lg-8 {
        .card {
            .card-block {
                .top {
                    overflow:hidden;
                    img {
                        min-width:100%;
                        margin-top: 0 !important;
                    }   
                }
            }
        }
    } 
    .col-md-12 {
         .card-block {
            .top {
                position:relative;

                overflow:hidden;
                img {
                    float:left;
                    display:block;
                    min-width:100%;
                    height: auto;
                    margin-top: 0 !important;
                }   
            }
        }
    } 
    .col-sm-24 {
        .card-block {
            .top {
                position:relative;

                overflow:hidden;
                img {
                    float:left;
                    display:block;
                    min-width:100%;
                    height: auto;
                    margin-top: 0 !important;
                }   
            }
        }
    } 
    .col-xs-24 {
        .card-block {
            .top {
                img {
                    margin-top: 0 !important;
                }   
            }
        }
    }
}
.news-card {
    .card-header {

    }
    .card-block {
        padding: 0;
        .top {
            max-height: 120px;
            max-width:100%;
            min-width: 100%;
            overflow:hidden;
            padding: 0 !important;
            img {
                position:relative;
                min-width: 100%;
            }
        }
        .bottom {
            .news-card-footer {
                position:absolute;
                margin-top:-50px;
                padding-left: 15px;
                padding-bottom:0px;
                font-size: 12px;
                .label {
                    
                    font-family: 'Oswald';
                    font-weight: bold;
                }
                .value {
                    font-family: 'Oswald';
                    font-weight: bold;
                }
                .keywords {
                    i {
                        float:left;
                        font-size: 16px;
                        margin-top: 3px;
                    }
                    ul {
                        float:left;
                        list-style: none;
                        margin: 0;
                        padding:0;
                        li {
                            font-family:Arial;
                            font-size: 10px;
                            margin-left: 5px;
                            padding: 2px;
                            padding-right: 5px;
                            padding-left:5px;
                            background-color: $BGInput;
                            border: 1px solid $BGInputBorder;
                            color: #333;
                            float:left;
                        }
                    }
                }
            }
            .news-card-header {
                float:left;
                width:100%;
                padding-top: 15px;
                padding-left: 15px;
                padding-bottom:5px;
                font-size: 12px;
                .label {
                    font-family: 'Oswald';
                    font-weight: bold;
                }
                .value {
                    font-family: 'Oswald';
                    font-weight: bold;
                }
            }
            p {          
                padding:15px;
                padding-top:5px;
                font-size: 12px;      
                .btn-sm {
                    position:relative;
                    top:0;
                    left: 100%;
                    margin-left: -105px;
                    display:block;
                    width: 120px;
                    text-align:center;
                }
            }

        }
    }
}

.overview {
    &.news-overview {
        .create {
            float:left;
            overflow:hidden;
            width: 100%;
            &.visible {
                height: 600px;
            }
            &.hidden {
                height: 0px;
            }
        }
    }
}
ul.news-list {  
        float:left;
        list-style:none;
        padding:0;
        margin: 0;
        width:100%;
        .news-item {
            float:left;
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 2px solid #333;
            &:last-child {
                border-bottom: 0;
            }
            width: 100%;
            a {
                h5 {
                    color: $FontColorDark;
                    &:hover {
                        color: #E06246 !important;
                    }
                }
            }
            .title-link {
            }
            .edit-ctrl {
                float:right; 
            }
            .subtitle {
                float:left;
                display:block;
                width:100%;
                font-size: 12px;
                border-bottom: 1px solid $BGInputBorder;
                margin-bottom: 5px;
                &.img {
                    float:left;
                    width: calc(100% - 110px);
                }
            }
            .txt {
                font-size: 12px;
                color: $FontColorDark;
                a {
                    color: #E06246 !important;
                }
            }
            
            .subtxt {
                font-size: 12px;
                color: $FontColorDark !important;
                &:hover {
                    color: #E06246 !important;
                }

            }
            
            .nolink-subtxt {
                font-size: 12px;
                color: $FontColorDark !important;
            }
            .footer-text {
                float:right;
                font-size: 10px;
                color: #999;
            }
            .source {
                float:left;

                width: 100%;
                font-size: 10px;
                color: #999;
                text-align:left;
                margin-top: 5px;
            }
            .keywords {
                float:left;
                clear:both;
                width:100%;
                display:block;
                margin-top: 5px;
                i{
                    float:left;
                    display:block;
                    margin-top: 5px;
                    margin-right: 5px;
                }
                .taglist {
                    float:left;
                    list-style:none;
                    margin: 0;
                    padding: 0;
                    .taglist-item {
                        margin: 2px; 
                        padding: 2px;
                        @include border-radius('10px');
                        float:left; 
                        border: 1px solid $BGInputBorder;
                        background-color: $BGInput;
                        color: #333;
                        font-size: 10px;
                    }
                }
                
            }
            img {
                margin-right: 10px;
                width:100px;
                height: 100px;
                float:left;
            }
        }
    }