<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" ng-app="FC" ng-controller="FC.Core.Controllers.HeadController as hctr">
<head >


    <!-- Meta tags -->

    <meta charset="utf-8" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
    <meta name="theme-color" content="#333333" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Festival Calendar" />
    <title>Festival Calendar - Your guide for your festival!</title>
    <!-- CSS -->
    <link ng-if="!IsPartial" rel="stylesheet" type="text/css" href="/App/Resources/css/01.base.css" />
    
    <link ng-if="IsMediaBrowser" rel="stylesheet" type="text/css" href="/App/Resources/css/mediabrowser.css"/>
    <base href="/" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
</head>

<body class="pre-scrollable">
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <ng-include src="'/Scripts/Modules/Menu/Views/menu-desktop.html'"></ng-include>
    <!--<div class="navbar-header header navbar navbar-default navbar-fixed-top navbar-inner">

            <button type="button" class="navbar-toggle" ng-click="mainCtr.ToggleOverlay({VisibleClass: 'maxWidth', HiddenClass: 'minWidth', Selector: '#menu'},false)" aria-expanded="true" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/#/home" id="cnt-logo" class="navbar-brand">
                <img ng-src="/Resources/images/logo_white.png" />
            </a>
            <ul class="nav navbar-nav" ng-controller="TilesController as Nav">
                <li class="dropdown">
                    <a currenturl=currenturl class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genres <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="Genre in Nav.Tiles">
                            <a href="/#/calendar/{{Genre.UmbracoID}}">{{Genre.Name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" />
                </div>
                <button type="submit" class="btn btn-default" theme="button">Search</button>
            </form>
    </div>-->
    <div class="container  main" ng-view=ng-view>
        <div theme="background" for="body" ng-if="!IsPartial"></div>
    </div>
    <script src="bower_components/money/money.min.js"></script>
    <script src="bower_components/accounting/accounting.min.js"></script>
    <script src="/App/themes.js"></script>
    <script src="/App/deps.js"></script>
    <script src="/App/festival-calendar.js"></script>
</body>
</html>