@import "00.vars.scss";
@import "02.fonts.scss";

.week-calendar {
    background-color: transparent;
    border: 0;
}
.festival-week-view {
    padding: 0px;
    background-color: transparent !important;
}

