
<div class="card complex-filter">
    <div class="card-header">
        <span class="h5">
            SELECT COUNTRIES
        </span>
    </div>
    <div class="card-block" ng-if="IsLoading==true">
        <ng-include src="'/Scripts/Shared/Views/loader.html'"></ng-include>
    </div>
    <div class="card-block" ng-if="IsLoading==false">
        <div class="row">
            <div class="col-xs-24 content">
                <div class="h5">
                    MOST POPULAR COUNTRIES
                </div>
                <div class="list popular-list">
                    <ul>
                        <li ng-repeat="Country in SysCountries" class="filter-item" ng-if="Country.IsPopular==true">
                            <a href="#" ng-click="$event.preventDefault();vm.ToggleCountry(Country)">
                                <i ng-class="{'fa fa-square-o': vm.IsActive(Country) == false, 'fa fa-check-square-o':vm.IsActive(Country)==true}"></i><span>{{Country.Name.toUpperCase()}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="h5">
                    OTHER COUNTRIES
                </div>
                <div class="list other-list">
                    <ul>
                        <li ng-repeat="Country in SysCountries" class="filter-item" ng-if="Country.IsPopular==false">
                            <a href="#" ng-click="$event.preventDefault();vm.ToggleCountry(Country)">
                                <i ng-class="{'fa fa-square-o': vm.IsActive(Country) == false, 'fa fa-check-square-o':vm.IsActive(Country) == true}"></i><span>{{Country.Name.toUpperCase()}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-24 footer-controls no-margin no-padding">
                <a href="#" ng-click="$event.preventDefault(); vm.Close()" class="btn btn-danger pull-right">CANCEL</a>
                <a href="#" ng-click="$event.preventDefault(); vm.Save()" class="btn btn-success pull-right">SAVE</a>
            </div>
        </div>
    </div>
</div>
