<div class="std-datepicker-wrapper no-margin no-padding {{Columns}}">
    <div class="std-datepicker" id="{{ID}}-StdDatePicker">
        <input type="hidden" ng-model="value" id="{{ID}}" />
        <i class="fa fa-calendar" ng-if="DateIconVisible"></i>
        <div class="date" ng-if="DateVisible">
            <select ng-model="Year" ng-change="DoChange(this)" class="form-control">
                <option value="{{PrevYear}}">{{PrevYear}}</option>
                <option value="{{CurrentYear}}">{{CurrentYear}}</option>
                <option value="{{NextYear}}">{{NextYear}}</option>
            </select>
            <select ng-model="Month" ng-change="DoChange(this)" class="form-control">
                <option value="1">JAN</option>
                <option value="2">FEB</option>
                <option value="3">MAR</option>
                <option value="4">APR</option>
                <option value="5">MAY</option>
                <option value="6">JUN</option>
                <option value="7">JUL</option>
                <option value="8">AUG</option>
                <option value="9">SEP</option>
                <option value="10">OCT</option>
                <option value="11">NOV</option>
                <option value="12">DEC</option>
            </select>
            <select ng-model="Day" ng-change="DoChange(this)" ng-if="DayVisible" class="form-control">
                <option value="{{v}}" ng-repeat="(k,v) in Days">
                    {{v}}
                </option>
            </select>
            <div class="separator" ng-if="TimeVisible">
                <i class="fa fa-clock-o"></i>
            </div>
            <select ng-model="Hours" ng-change="DoChange(this)" class="form-control" ng-if="TimeVisible">
                <option value="0">00</option>
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
            </select>
            <div class="separator" ng-if="TimeVisible">
                <span> : </span>
            </div>
            <select ng-model="Minutes" ng-change="DoChange(this)" class="form-control" ng-if="TimeVisible">
                <option>MM</option>
                <option value="0">00</option>
                <option value="5">05</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>
            </select>
        </div>
    </div>
</div>