<div class="row overview-wrapper" ng-if="IsAuthorized">
    <div class="col-xl-18 col-lg-18 col-md-16 col-sm-24 col-xs-24">
        <div class="card overview">
            <div class="card-header">
                <span class="h5">MENU SECTIONS OVERVIEW</span>
            </div>
            <div class="card-block">
                <table class="scrollable">
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>PAGEKEY</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="MenuSection in MenuSections">
                            <td>
                                <a href="/#/menus/menuitems/{{MenuSection.SectionID}}" title="Go to details of menu section {{MenuSection.Name.toUpperCase()}}.">{{MenuSection.Name.toUpperCase()}}</a>
                            </td>
                            <td>{{MenuSection.PageKey}}</td>
                            <td>
                                <a for-roles="ADMIN" ng-click="$event.preventDefault();vm.DoDelete(MenuSection)" title="Remove menu section {{MenuSection.Name.toUpperCase()}}." class="control-icon delete" href="/delete/MenuSection/{{MenuSection.MenuSectionID}}">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a for-roles="ADMIN" href="/#/menus/edit/{{MenuSection.SectionID}}" title="Edit {{MenuSection.Name.toUpperCase()}}" class="control-icon edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-xs-24" ng-if="ShowMore && !IsLoading">
                    <a href="{{ShowMoreURL}}" class="btn btn-danger" name="#bottom" style="width:252px;" title="Show more menu sections">SHOW MORE</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-xs-24">
        <ng-include src="'/scripts/modules/menu/views/quickmenu.html'" ng-controller="FC.Modules.Menu.Controllers.QuickMenuController as vm" ng-init="vm.init()" />
    </div>
</div>