<div class="modal-header block-item" theme="header">
    <div class="header" theme="header">
        <h1>
            <i class="fa fa-globe"></i>
            <span class="title">Search</span>
        </h1>
    </div>
</div>
<div class="modal-body">
    <div class="inner">
        <form class="search-form" role="search">
            <label for="basic-url">Search by: festival name, artist, city, location, genre</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Search</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="Keyword" ng-change="DoSearch(vm)" autofocus>
            </div>
        </form>
    </div>
    <div ng-if="FestivalResultVisible" class="search-results">
        <h3>Festivals</h3>
        <a href="#" class="search-result-item festival" ng-repeat="item in SearchResult.Festivals">
            <div class="search-logo logo-sm" backImg="$0$.img?origin=true" watch="{{item.Image}}"></div>
            <div class="title" theme="text-default">
                {{item.Name}}
            </div>
            <div class="start-date" theme="text-default">
                <i class="fa fa-calendar"></i> {{item.CultureStartDate}}
            </div>
            <div class="iconvalue-item" ng-model="item.Genres">
                <i theme="text-default" class="fa fa-heart"></i>
                <span class="txt">
                    <span class="bg-label" ng-if="Key <= 1 && GenreData[Genre].Name != 'Default'" theme="button" ng-repeat="(Key,Genre) in item.Genres">
                        {{GenreData[Genre].Name}}
                    </span>
                    <span class="bg-label" ng-if="Festival.Genres.length >2" theme="button">
                        +{{Festival.Genres.length-2}}
                    </span>
                </span>
            </div>
            <div class="navigator">
                <i class="fa fa-chevron-circle-right"></i>
            </div>
        </a>
    </div>
    <div ng-if="ArtistResultVisible" class="search-results">
        <h3>Artists</h3>
        <a href="#" class="search-result-item festival" ng-repeat="item in SearchResult.Artists">
            <div class="search-logo logo-sm" backImg="$0$.img?origin=true" watch="{{item.Image}}"></div>
            <div class="title" theme="text-default">
                {{item.Name}}
            </div>
            <div class="iconvalue-item" ng-model="item.Genres">
                <i theme="text-default" class="fa fa-heart"></i>
                <span class="txt">
                    <span class="bg-label" ng-if="Key <= 1 && GenreData[Genre].Name != 'Default'" theme="button" ng-repeat="(Key,Genre) in item.Genres">
                        {{GenreData[Genre].Name}}
                    </span>
                    <span class="bg-label" ng-if="Festival.Genres.length >2" theme="button">
                        +{{Festival.Genres.length-2}}
                    </span>
                </span>
            </div>
            <div class="navigator">
                <i class="fa fa-chevron-circle-right"></i>
            </div>
        </a>
    </div>
</div>
<div class="modal-footer">
</div>