<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta name="msapplication-TileColor" content="#333333" />
    <meta name="msapplication-TileImage" content="https://festival-calendar.nl/mstile-144x144.png" />
    <meta name="theme-color" content="#333333" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="WM-Development" />
    <meta name="copyright" content="WM-Development" />
    <base href="/" />
    <link rel="apple-touch-icon" sizes="57x57" href="https://festival-calendar.nl/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="https://festival-calendar.nl//apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://festival-calendar.nl//apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="https://festival-calendar.nl//apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://festival-calendar.nl//apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="https://festival-calendar.nl//apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="https://festival-calendar.nl//apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="https://festival-calendar.nl//apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://festival-calendar.nl//apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" href="https://festival-calendar.nl//favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://festival-calendar.nl//favicon-194x194.png" sizes="194x194" />
    <link rel="icon" type="image/png" href="https://festival-calendar.nl//favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="https://festival-calendar.nl//android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="https://festival-calendar.nl//favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="https://festival-calendar.nl//manifest.json" />
    <link rel="mask-icon" href="https://festival-calendar.nl//safari-pinned-tab.svg" color="#5bbad5" />
    <meta charset="utf-8" /> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width" /> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting" />  <!-- Disable auto-scale in iOS 10 Mail entirely -->
        @RenderSection("Style")

    </head>
    <body width="100%" bgcolor="#222222" style="margin: 0; mso-line-height-rule: exactly;">
        @RenderBody()
    </body>
</html>