@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section META {
}
<div class="row">
    <div class="col-xs-24">
        <div class="card">
            <div class="card-header">
                <span class="h5">
                    ERROR
                </span>
            </div>
            <div class="card-block">
                <p>
                    There was an error while proccessing your request.
                </p>
                <center>
                    <a href="/" class="btn btn-danger">CALENDAR</a>
                </center>
            </div>
        </div>
    </div>
</div>