.money .format {
  font-size: 110%;
  margin-right: 3px; }

.default-padding {
  padding: 10px; }

header {
  background-color: #000 !important; }
  header .logo {
    background-image: url(/Resources/images/logoc.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 45px;
    width: 200px;
    background-size: 160px 45px;
    margin-top: 2px; }
  header li .menu-item {
    color: #FFF !important;
    font-family: GothamBold;
    font-size: 16px;
    background-color: #000 !important; }
    header li .menu-item:hover {
      background-color: #000 !important; }
    header li .menu-item i {
      color: #FFF;
      font-size: 20px;
      float: left;
      margin-right: 10px;
      margin-top: 1px;
      display: block; }
  header li.open {
    background-color: #000 !important; }
    header li.open .menu-item {
      color: #FFF !important; }
      header li.open .menu-item i {
        color: #FFF; }
  header li .dropdown-menu {
    border-radius: 0 !important;
    background-color: #000 !important; }
    header li .dropdown-menu li > a {
      color: #fff;
      font-size: 14px; }
      header li .dropdown-menu li > a:hover {
        color: #FFF;
        background-color: #000; }

.logo {
  background-image: url(/Resources/images/logoc.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 35px;
  width: 200px;
  background-size: 160px 35px;
  margin-top: 7px; }

.logo-color-0 {
  background-color: #4ED7FF; }

.logo-color-1 {
  background-color: #FF0000; }

.logo-color-2 {
  background-color: #FE0089; }

.logo-color-3 {
  background-color: #AE3CE3; }

.logo-color-4 {
  background-color: #EDEA03; }

.logo-color-5 {
  background-color: #0D7C05; }

.logo-color-6 {
  background-color: #A6EA03; }

.font-color-0 {
  color: #4ED7FF; }

.font-color-1 {
  color: #FF0000; }

.font-color-2 {
  color: #FE0089; }

.font-color-3 {
  color: #AE3CE3; }

.font-color-4 {
  color: #EDEA03; }

.font-color-5 {
  color: #0D7C05; }

.font-color-6 {
  color: #A6EA03; }

.row-fluid {
  float: left;
  -webkit-transition: min-height 0.5s;
  /* Safari */
  -moz-transition: min-height 0.5s;
  transition: min-height 0.5s; }

.FC-hidden {
  height: 0px;
  visibility: hidden;
  overflow: hidden; }

.FC-visible {
  height: auto;
  visibility: visible; }

.fcmodal {
  top: 100px;
  width: calc(100% - 100px);
  box-sizing: border-box;
  margin: 50px; }

.collapsepanel {
  float: left;
  width: 100%;
  font-family: GothamBold; }

.collapsepanelcontrols {
  float: left;
  width: 100%;
  border-bottom: 1px solid #999;
  margin: 0px 0 10px 0; }
  .collapsepanelcontrols .btn.btn-default {
    float: right;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 14px;
    font-family: GothamBold; }

.rte b {
  font-family: GothamBold; }

.rte h1, .rte h2, .rte h3, .rte h4, .rte h5, .rte h6 {
  margin: 0;
  padding: 5px 5px 5px 10px;
  font-family: GothamBold; }

.rte p {
  padding: 10px;
  font-family: GothamBold; }

.rte h1 {
  font-size: 22px; }

.rte h2 {
  font-size: 18px; }

.rte h3 {
  font-size: 16px; }

.rte h4 {
  font-size: 14px; }

.rte h5 {
  font-size: 14px; }

.rte h6 {
  font-size: 14px; }

a.CounterBtn .counter {
  position: absolute;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  min-width: 25px;
  max-height: 25px;
  margin: -10px 5px 5px 5px;
  background-color: #FF0000;
  font-weight: bold;
  font-family: GothamBold;
  font-size: 12px;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  border-radius: 12px !important; }

a.CounterBtn .hasCount {
  margin-right: 25px; }

a.CounterBtn .hasNoCount {
  margin-right: auto; }

a.HeaderCounterBtn .counter {
  position: absolute;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  min-width: 25px;
  max-height: 25px;
  margin: -10px 5px 5px 5px;
  background-color: #FF0000;
  font-weight: bold;
  font-family: GothamBold;
  font-size: 12px;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  border-radius: 12px !important; }

a.HeaderCounterBtn .hasCount {
  margin-right: 25px; }

a.HeaderCounterBtn .hasNoCount {
  margin-right: auto; }
