@import "00.vars.scss";
.fnt-white {
    color: #fff;
}

.fnt-dg {
    color: #333;
}
a,p,div,body,html,button,.btn {
    font-size: $fontSizeDefault;
    font-family: Gotham;
    line-height: 20px;
} 

@mixin DefaultFont {
    font-size: $fontButtonFontSizeMedium !important;
    font-family: Gotham !important;
    line-height: 20px !important;
}
@mixin DefaultBoldFont {
    font-size:  $fontButtonFontSizeMedium !important;
    font-family: GothamBold !important;
    line-height: 20px !important;
}
@font-face {
	font-family: 'Gotham';
	src: url('/Resources/fonts/Gotham Book.eot');
	src: local('☺'), url('/Resources/fonts/Gotham Book.woff') format('woff'), url('/Resources/fonts/Gotham Book.ttf') format('truetype'), url('Resources/fonts/Gotham Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamBlack';
	src: url('/Resources/fonts/GOTHAM-BLACK.eot');
	src: local('☺'), url('/Resources/fonts/GOTHAM-BLACK.woff') format('woff'), url('/Resources/fonts/GOTHAM-BLACK.ttf') format('truetype'), url('Resources/fonts/GOTHAM-BLACK.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamBold';
	src: url('/Resources/fonts/GOTHAM-BOLD.eot');
	src: local('☺'), url('/Resources/fonts/GOTHAM-BOLD.woff') format('woff'), url('/Resources/fonts/GOTHAM-BOLD.ttf') format('truetype'), url('Resources/fonts/GOTHAM-BOLD.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamLight';
	src: url('/Resources/fonts/GOTHAM-LIGHT.eot');
	src: local('☺'), url('/Resources/fonts/GOTHAM-LIGHT.woff') format('woff'), url('/Resources/fonts/GOTHAM-LIGHT.ttf') format('truetype'), url('Resources/fonts/GOTHAM-LIGHT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamMedium';
	src: url('/Resources/fonts/GOTHAM-MEDIUM.eot');
	src: local('☺'), url('/Resources/fonts/GOTHAM-MEDIUM.woff') format('woff'), url('/Resources/fonts/GOTHAM-MEDIUM.ttf') format('truetype'), url('Resources/fonts/GOTHAM-MEDIUM.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
  font-family: 'Picto';
  src: url('Resources/fonts/pictos-web.eot'); /* IE9 Compat Modes */
  src: url('Resources/fonts/pictos-web.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Resources/fonts/pictos-web.woff') format('woff'), /* Pretty Modern Browsers */
       url('Resources/fonts/pictos-web.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Resources/fonts/pictos-web.svg#svgFontName') format('svg'); /* Legacy iOS */
}
[data-icon]:before {
	font-family: 'Picto';
	content: attr(data-icon);
}