<md-dialog aria-label="SELECT LOCATION" flex="50">
    <div class="card mediabrowser">
        <div class="card-header">
            <span class="h5">SELECT IMAGE</span>
        </div>
        <div class="card-block ">
            <div id="mediaAlert" class="alert alert-success" ng-if="State && State.SUCCESS == true">
                {{State.MSG}}
            </div>
            <div id="mediaAlert" class="alert alert-danger" ng-if="State && State.SUCCESS == false">
                {{State.MSG}}
            </div>
            <script ng-if="State">
                window.setTimeout(function () {
                    $('#mediaAlert').fadeOut();
                }, 5000);
            </script>
            <div class="headercontrols" ng-if="SelectedMediaItem && !IsDeleting && !IsMediaItemCreating && !IsMediaItemDeleting && !IsMediaDirDeleting">
                <a href="#" class="btn btn-danger" ng-click="$event.preventDefault();DoCancelCRUD(this)">
                    CANCEL
                </a>
                <a href="#" class="btn btn-success" ng-click="$event.preventDefault();Save(this)">
                    SELECT
                </a>
            </div>
            <div class="row">
                <div class="col-xs-24">
                    <div class="alert alert-warning" ng-if="IsThumbnail">
                        <strong>ATTENTION</strong>  Min. height should be {{ValidationHeight}} pixels, min. width should be {{ValidationWidth}} pixels,
                    </div>
                    <div class="alert alert-warning" ng-if="!IsThumbnail">
                        <strong>ATTENTION</strong> image size should be height:{{ValidationHeight}}pixels and width:{{ValidationWidth}}pixels.
                    </div>
                </div>
            </div>
            <ng-include src="'/Scripts/Shared/Views/loader.html'" ng-if="IsLoading" />
            <ul class="results" ng-if="!IsMediaDirEditing && !IsMediaDirCreating && !IsMediaItemDeleting && !IsMediaDirDeleting && !IsLoading">
                <li class="media-item">
                    <a href="#" ng-click="$event.preventDefault();DoCreateMediaItem(this,ActiveDir)">
                        <i class="fa fa-plus"></i>
                    </a>
                </li>
                <li ng-repeat="d in ActiveDir.Children" class="media-item">
                    <a href="#" ng-click="$event.stopPropagation();$event.preventDefault();Activate(this,d)">
                        <i class="fa fa-folder" style="font-size: 60px"></i>
                        <br />
                        <span class="title" ng-if="d.Name.length > 10">{{d.Name.substr(0,10)}}...</span>
                        <span class="title" ng-if="d.Name.length < 10">{{d.Name}}</span>
                    </a>
                </li>
                <li ng-repeat="m in ActiveDir.Media" class="media-item" ng-class="vm.$scope.SelectedMediaItem.MediaID == m.MediaID ? 'active' : ''" ng-if="(!m.Width || m.Width >= ValidationWidth) && (!m.Height || m.Height >= ValidationHeight)">
                    <a href="#" ng-class="vm.$scope.SelectedMediaItem.MediaID == m.MediaID ? 'active' : ''" ng-click="$event.preventDefault(); $event.stopPropagation();ActivateMediaItem(vm.$scope,m)">
                        <span class="img" style="background-image:url('{{URLRoot}}/{{m.MediaID}}.img?&thumb=true')"> </span>
                    </a>
                    <span class="controls" ng-class="vm.$scope.SelectedMediaItem.MediaID == m.MediaID ? 'active' : ''" ng-click="$event.preventDefault();DoDeleteMediaItem(this,m)">
                        <i class="fa fa-trash"></i>
                    </span>
                </li>
            </ul>
            <ng-include src="'/Scripts/Modules/Media/Views/create-media-item.html'"></ng-include>
            <ng-include src="'/Scripts/Modules/Media/Views/delete-media-dir.html'"></ng-include>
            <ng-include src="'/Scripts/Modules/Media/Views/delete-media-item.html'"></ng-include>
        </div>
    </div>
</md-dialog>