<md-dialog aria-label="CONFIRM REMOVE ACTION" flex="30">
    <div class="card">
        <div class="card-header">
            <span class="h5">PLEASE CONFIRM</span>
        </div>
        <div class="card-block">
            <center>
                Are you sure that you want to delete this item?
                <br />
                <br />
                <a href="#" class="btn btn-success" ng-click="$event.preventDefault();vm.DoDeleteConfirm(CONFIRMATION.OK)">
                    {{CONFIRMATION.OK}}
                </a>
                <a href="#" class="btn btn-danger" ng-click="$event.preventDefault();vm.DoDeleteConfirm(CONFIRMATION.CANCEL)">
                    {{CONFIRMATION.CANCEL}}
                </a>
            </center>
        </div>
    </div>
</md-dialog>