@section META {
    <title>FESTIVAL CALENDAR | Please activate your account</title>
}
<div class="row">
    <div class="col-md-24">
        <div class="card">
            <div class="card-header">
                <span class="h5">ACCOUNT ACTIVATION</span>
            </div>
            <div class="card-block">
                <h5>ACCOUNT ACTIVATED!</h5>
                <p>
                    Your account is verified now.
                    Please select one of the actions below to proceed.
                </p>
                <ul>
                    <li>
                        <a href="/profile/settings" alt="Create a festival calendar profile">
                            <i class="fa fa-user"></i> GO TO MY PROFILE
                        </a>
                    </li>
                    <li>
                        <a href="/register/festival" alt="Sign up your festival!">
                            <i class="fa-festival-icon"></i> SIGN UP MY FESTIVAL
                        </a>
                    </li>
                    <li>
                        <a href="/register/artist" alt="Create an artist profile">
                            <i class="fa fa-note"></i> SIGN UP AS ARTIST
                        </a>
                    </li>
                    <li>
                        <a href="/register/venue" alt="Sign up your venue">
                            <i class="fa fa-map-marker"></i> SIGN UP AS VENUE
                        </a>
                    </li>
                    <li>
                        <a href="/register/advertisement" alt="Advertise on Festival Calendar!">
                            <i class="fa fa-bullhorn"></i> ADVERTISEMENT
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
