<span class="wrapper" style="float:left;width:100%;">
    <span class="title-menu-item" style="float:right; font-size:18px; margin-top: 5px;margin-right:15px; color:#FFF;" ng-controller="FC.Modules.Filtering.Controllers.FilterController as FilterCtr">
        <a href="#" style="font-size:18px; color:#FFF;" ng-click="$event.preventDefault(); FilterCtr.OpenModal(400)">
            <i class="fa fa-heart"></i>
        </a>
    </span>
    <span class="title-menu-item" style="float:right; font-size:18px; margin-top: 5px;margin-right:15px; color:#FFF;" ng-controller="FC.Modules.Filtering.Controllers.CountryModalController as cmctr">
        <a href="#" style="font-size:18px; color:#FFF;" ng-click="$event.preventDefault();cmctr.OpenCountryModal(400)">
            <i class="fa fa-globe"></i>
        </a>
    </span>
    <span class="title-menu-item" style="float:right; font-size:18px; margin-top: 5px;margin-right:15px; color:#FFF;">
        <a href="#" style="font-size:18px; color:#FFF;" ng-click="$event.preventDefault();mmc.OpenMonthModal(400)">
            <i class="fa fa-calendar"></i>
        </a>
    </span>
</span>