<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <connectionStrings>
      <add name="MSDB" connectionString="server=db.festival-calendar.nl;database=FCV2;User Id=sa;Password=Brother2030" providerName="System.Data.SqlClient" />  
    </connectionStrings>
</configuration>