<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="MSDB" connectionString="server=db.festival-calendar.nl;database=FCV2;User Id=sa;Password=Brother2030" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Festival Calendar specific settings-->
    <add key="API" value="https://festival-calendar.nl:8888" />
    <add key="ANON_USER_ID" value="79032691-671a-42cc-94c2-d984cb4b6d42" />
    <add key="SERVER_ROOT" value="C:/Projects/FC/FC.WebAPI/" />
    <add key="MEDIA_BASE" value="/Media/" />
    <add key="MEDIA_ROOT" value="C:/Projects/FC/FC.WebAPI/Media/" />
    <add key="MEDIA_BASE_PATH" value="C:/Projects/FC/FC.WebAPI/Media/" />
    <add key="SQL_FILE_ROOT" value="C:/Projects/FC/FC.MSDAL/SQL/" />
    <add key="MEDIA_ROOT_ID" value="710FE0A0-8894-40DB-8D7D-2FCBD7BA14CF" />
    <add key="FESTIVAL_DIR_ROOT_ID" value="1c9f99e9-1ff2-4eef-9f94-25b400340fba" />
    <add key="ARTIST_DIR_ROOT_ID" value="3aa4eee3-5821-40ce-a82c-5018b890b824" />
    <add key="NEWS_DIR_ROOT_ID" value="e55379cd-13e3-4180-8b68-07b82e0d6172" />
    <add key="APPUSER_DIR_ROOT_ID" value="CDEA7718-1081-4204-A839-6463E357151D" />
    <add key="REPORT_DIR_ROOT_ID" value="359859A6-307D-4907-ACF6-1AD799F25317" />
    <add key="FC_EXTERNAL_ID" value="FCX17XWVDMX26X28X12X89X17X3X9X8X25" />
    <add key="RECAPTCHA_PRIVATE" value="6Ld9sRcUAAAAAA3cpin_GhVzMi-yvdjpDGx98WQl" />
    <add key="RECAPTCHA_PUBLIC" value="6Ld9sRcUAAAAABqqWRgFIIEMgu5Wf-zNzEyAaBSC" />
    <add key="LOCAL_TMP_DATA_DIR" value="C:/festivalcalendar/backoffice/tmpdata" />
    <add key="SMTP_SERVER" value="smtp.transip.email" />
    <add key="IMAP_SERVER" value="imap.transip.email" />
    <add key="RELAY_SERVER" value="relay.transip.nl" />
    <add key="IMAP_PORT" value="993" />
    <add key="SMTP_PORT" value="465" />
    <add key="INFO_MAIL_NL" value="info@festival-calendar.nl" />
    <add key="INFO_MAIL_NL_PASSWORD" value="[Guid(1885A93B-7852-4CB8-BDFF-594B5764075C)]" />
    <add key="NOREPLY_MAIL_NL" value="noreply@festival-calendar.nl" />
    <add key="NOREPLY_MAIL_NL_PASSWORD" value="[Guid(3830EBE4-F065-4A00-99B3-03F48CAE2389)]" />
    <add key="WESLEY_MAIL_NL" value="meervdw@festival-calendar.nl" />
    <add key="WESLEY_MAIL_NL_PASSWORD" value="[Guid(849B74C2-7225-46FA-9717-F1372CAA93FE)]" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="DEFAULT_THUMB" value="https://festival-calendar.nl/favicon-194x194.png" />
    <!-- UI Configuration-->
    <add key="ShortTextSpaceCount" value="10" />
    <add key="ShortTextSpaceCountFestival" value="20" />
    <add key="ShortTextSuffix" value="..." />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DOMAIN_1" value=".localhost:5000" />
    <add key="DOMAIN_2" value=".localhost:8888" />
    <add key="DOMAIN_3" value=".festival-calendar.nl:8888" />
    <add key="DOMAIN_4" value=".festival-calendar.nl" />
    <add key="DOMAIN_5" value=".festival-kalender.nl:8888" />
    <add key="DOMAIN_6" value=".festival-kalender.nl" />
    <add key="DOMAIN_7" value=".festival-calendar.com:8888" />
    <add key="DOMAIN_8" value=".festival-calendar.com" />
    <add key="DOMAIN_9" value=".festival-meetings.com:8888" />
    <add key="DOMAIN_10" value=".festival-meetings.com" />
    <add key="DOMAIN_11" value=".localhost" />
    <add key="DOMAIN_12" value=".api.festival-calendar.nl" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
        <customErrors>
            <error redirect="/error/404" statusCode="404" />
            <error redirect="/error/401" statusCode="401" />
            <error redirect="/error/500" statusCode="500" />
        </customErrors>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=10" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
