<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<remove name="ContentModel" />-->
    <add name="ContentModel" connectionString="server=database.festival-calendar.nl;port=5432;user id=fc_user;password=brother2030;database=FCV2" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="SQL_FILE_ROOT" value="C:/Projects/FC/FC.PGDal/Migrations/SQL/" />
    <add key="LOCAL_TMP_DATA_DIR" value="C:/festivalcalendar/backoffice/tmpdata/"/>
    <add key="API" value="https://festival-calendar.nl:8888"/>
    <add key="SMTP_SERVER" value="smtp.transip.email"/>
    <add key="IMAP_SERVER" value="imap.transip.email"/>
    <add key="RELAY_SERVER" value="relay.transip.nl"/>
    <add key="IMAP_PORT" value="993"/>
    <add key="SMTP_PORT" value="465"/>
    <add key="INFO_MAIL_NL" value="info@festival-calendar.nl"/>
    <add key="INFO_MAIL_NL_PASSWORD" value="[Guid(1885A93B-7852-4CB8-BDFF-594B5764075C)]"/>
    <add key="NOREPLY_MAIL_NL" value="noreply@festival-calendar.nl"/>
    <add key="NOREPLY_MAIL_NL_PASSWORD" value="[Guid(3830EBE4-F065-4A00-99B3-03F48CAE2389)]"/>
    <add key="WESLEY_MAIL_NL" value="meervdw@festival-calendar.nl"/>
    <add key="WESLEY_MAIL_NL_PASSWORD" value="[Guid(849B74C2-7225-46FA-9717-F1372CAA93FE)]"/>
    <add key="MEDIA_BASE_PATH" value="D:/www/WebAPI/media/"/>
    <add key="MEDIA_ROOT_ID" value="710fe0a0-8894-40db-8d7d-2fcbd7ba14cf" />
    <add key="MEDIA_ROOT" value="C:/Projects/FC/FC.WebAPI/Media/" />
    <add key="DOMAIN_1" value=".localhost:5000"/>
    <add key="DOMAIN_2" value=".localhost:8888"/>
    <add key="DOMAIN_3" value=".festival-calendar.nl:8888"/>
    <add key="DOMAIN_4" value=".festival-calendar.nl"/>
    <add key="DOMAIN_5" value=".festival-kalender.nl:8888"/>
    <add key="DOMAIN_6" value=".festival-kalender.nl"/>
    <add key="DOMAIN_7" value=".festival-calendar.com:8888"/>
    <add key="DOMAIN_8" value=".festival-calendar.com"/>
    <add key="DOMAIN_9" value=".festival-meetings.com:8888"/>
    <add key="DOMAIN_10" value=".festival-meetings.com"/>
    <add key="DOMAIN_11" value=".localhost"/>
    <add key="DOMAIN_12" value=".api.festival-calendar.nl"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql - .Net Data Provider for PostgreSQL" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=3.1.4.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
      <providers>
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql"></provider>
      </providers>
      <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, Npgsql" />
  </entityFramework>
</configuration>