<div class="col-xs-24">
    <h4>Oops...</h4>
    <p>
        There were errors occurd during creating the festival. Please try again later, we have saved your current festival entry to your device, you can proceed later and try again to create or update this festival.
    </p>
    <br />
    <a href="/#/" class="btn btn-danger">
        <i class="fa fa-sign-out"></i> View calendar
    </a>
    <a href="#" class="btn btn-success"  ng-click="$event.preventDefault();DoSaveCreate(this);">
        <i class="fa fa-refresh"></i> Try again
    </a>
</div>